.inmate-container{
  color: white;
  background-color: #204720;
  padding: 10px;
  margin: 10px;
  width: 700px;
}
.view-more-button{
    display: flex;
    flex-direction: row-reverse;
    color: #204720;
    border: none;
    bottom: 0;
    right: 0;
}

button{
  background-color: lightgrey;
  color: black;
}