.schedulebody{
    background-color: lightgray;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    width: 100% -200px;
}

h1{
    display: flex;
    position: fixed;
    top: 0;
    left: 260px;
    color: black;
    margin: 0px;
}

h3{
    display: flex;
    top: 0;
    left: 0;
}
.Calendar-box {
    background-color: white;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 260px;
    top: 70px;
    padding: 10px;
    margin-right: 10px;
    margin-left: 20px;
    border-radius: 20px;
    width: 790px;
    height: 630px;
}

.dayContainer {
    margin: 20px;
    cursor: pointer;
    background-color: lightgrey;
    width: 60px;
    height: 60px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification_box_container{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 15px;
    background-color: white;
    width: 200px;
    position: fixed;
    right: 10px;
}
.mantine-Calendar-monthTbody {
    margin-bottom: 0px;
}

.mantine-Calendar-yearsListControl{
    margin: 10px;
    border: none;
    height: 30px;
    border-radius: 10px;
    font-weight: 300;
}
.mantine-Calendar-monthsListControl{
    margin: 10px;
    border: none;
    height: 30px;
    border-radius: 10px;
    font-weight: 300;
}

button{ 
    margin: 10px;
    border: none;
    height: 30px;
    border-radius: 10px;
    font-weight:300;
}

.high-priority{
    color: #f22121;
    text-decoration: underline;
}

.release_dates{
    color: #2f963f;
}

.miscellaneous{
    color: #3282af;
    text-decoration: underline;
}