.visitors-body{
    padding: 0px;
    margin-left: 200px;
    background-color: lightgray;
    height: 100wh;
    width: 100% - 200px;
}

.page-title{
    color: black;
    display: flex;
    position: fixed;
    top: 0px;
    left: 260px;
}

.page-title h1{
    /* font-weight: bold; */
    margin: 0;
}